body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2a2a2a;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.admin-container {
    max-width: 100%;  
    padding: 20px;    
    color: white;
    width: 3840px;
    height: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

h1 {
    text-align: center;
    font-size: 2.5rem; 
    margin-bottom: 20px; 
}

table {
    width: 20%; 
    border-collapse: collapse; 
    color: white; 
    font-size: 1.5rem; 
    margin: 0 auto; 
}

th, td {
    border: 1px solid #fdc00a; 
    padding: 15px; 
    text-align: center; 
}

th:first-child {
    background-color: #fdc00a; 
    color: black; 
    border: 1px solid white; 
}

td:first-child {
    background-color: #fdc00a; 
    color: black; 
    font-weight: bold; 
    border: 1px solid white; 
}

#port-select {
    background-color: green;       
    color: white;                  
    border: 2px solid #fdc00a;     
    padding: 10px;                 
    font-size: 1rem;               
    margin: 10px 0;                
    border-radius: 5px;            
    cursor: pointer;                
}

#port-select option {
    background-color: navy;        
    color: white;                  
}

#port-select::-ms-expand {
    background-color: #fdc00a;     
    color: black;                  
}

#port-select::-webkit-scrollbar {
    background-color: #fdc00a;     
}

#port-select::-webkit-scrollbar-thumb {
    background-color: black;        
}