table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

th, td {
    border: 1px solid #fdc00a;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #fdc00a;
    color: black;
}
